.common{
    text-align: left;
    list-style-position: inside;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.header{
    height: 100px;
    background-color: black;
    color: white;
    line-height: 100px;
}

.mainbody{
    background-color:whitesmoke;
}

.unordered{
    font-family: 'Courier New', Courier, monospace;
    color: darkred;
    font-style: italic;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

nav{
    background-color: lightgray;
    padding: 10px;
    overflow: hidden;
}

nav a{
    float: left;
    color: black;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover{
    background-color: whitesmoke;
}